# Resolución Clase 7. Pandas. Parte 1.
<img  src="logoeica.jpeg" high=50px width=70px align="left" >

In [2]:
#importa numpy
import numpy as np
#importa pandas
import pandas as pd

In [3]:
serie = pd.Series(data = [1,2,3, 4, 6.7],

index=['primero', 'segundo' ,'tercero', 'cuarto', 'quinto'])

In [ ]:
serie

primero    1.0
segundo    2.0
tercero    3.0
cuarto     4.0
quinto     6.7
dtype: float64

In [ ]:
type(serie)

pandas.core.series.Series

In [5]:
df = pd.DataFrame(data = [1,2,3, 4, 6.7],

index=['primero', 'segundo' ,'tercero', 'cuarto', 'quinto'])

In [6]:
df

           0
primero  1.0
segundo  2.0
tercero  3.0
cuarto   4.0
quinto   6.7

In [ ]:
df.index

Index(['primero', 'segundo', 'tercero', 'cuarto', 'quinto'], dtype='object')

In [ ]:
df.columns

RangeIndex(start=0, stop=1, step=1)

Pandas nos facilita con varias funciones para leer archivos. Entre ellas podemos encontrar:
.read_csv(): lee archivos csv como DataFrame
.read_json(): lee archivos json como DataFrame
.read_excel(): leer archivos excel como DataFrame

Para conocer más funciones que ayuden a leer archivos, consulta acá (https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

Nosotros vamos a usar .read_csv() (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).


Los archivos csv son un tipo de documento en formato abierto sencillo para representar datos en forma de
tabla, en las que las columnas se separan por comas (o punto y coma) y las filas por saltos de línea. Es uno de
los formatos más utilizados en Data Science.

La sintaxis para poder leer un archivo csv es:
df = pd.read_csv('nombredelarchivo.csv', delimiter=',')
Aunque muchas veces se omite el delimiter si el archivo esta separado por comas.

Vamos a trabajar con el archivo StudentsPerformance.csv (se envio junto a este archivo).
Es usual descargar el archivo csv en la misma carpeta en la que trabajas con el jupyter notebook. De esta
manera, no tendras que especificar el path a tu archivo.

1) Lee el archivo csv StudentsPerformace usando pandas. Guardalo en una variable llamada students.

In [8]:
#cargamos nuestro archivo de estudiantes en memoria
from google.colab import files
uploaded = files.upload()

Saving student-por.csv to student-por.csv

In [9]:
students = pd.read_csv("student-por.csv")

In [16]:
pd.options.display.max_rows = 20 # esta linea me muestra solo 10 filas , si lo cambio por 649 , me muestra todas las filas
students.tail(7)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
642,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [ ]:
students.index

RangeIndex(start=0, stop=649, step=1)

In [ ]:
students.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

2) ¿Que tipo de estructura de datos contiene la variable students? Hint: Usa type

In [ ]:
type(students)

pandas.core.frame.DataFrame

3) ¿Cuantas filas y columnas tiene students? Para contestar esta pregunta, pandas tiene la funcion .shape.
Su sintaxis es la siguiente: df.shape (df debe ser reemplazado por el nombre de tu DataFrame).

In [ ]:
students.shape

(649, 33)

3) ¿Cual es el nombre de las columnas contenidas en students? Para esto, pandas tiene el atributo
.columns.

In [ ]:
students.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

4) Inspecciona las primeras 10 filas de students usando la función .head(). Dentro de esta función podemos
colocar un numero. Este numero nos dira cuantas filas queremos observar.

In [ ]:
students.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,6,12,12,13
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,13,12,13
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,2,10,13,13
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,15,16,17
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,12,12,13

5) Ahora inspecciona las 10 ultimas usando .tail(). También podemos indicar el número de filas que
queremos observar.

In [ ]:
students.tail(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
639,MS,M,19,R,GT3,T,1,1,other,services,...,4,3,2,1,3,5,0,5,8,0
640,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,0,7,7,0
641,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,0,14,17,15
642,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

6) ¿Que tipos de datos contiene cada una de las columnas de students? Para esto, utiliza el atributo
.dtypes.

In [ ]:
students.dtypes

school      object
sex         object
age          int64
address     object
famsize     object
             ...
health       int64
absences     int64
G1           int64
G2           int64
G3           int64
Length: 33, dtype: object

7) ¿Como accedemos a una fila o a una columa de un DataFrame?

Una de las maneras de acceder a una columna es especificando el nombre de la misma. Por ejemplo,
df['nombre_columna'].

Accede a la columna age de students.

In [ ]:
students['age']

0      18
1      17
2      15
3      15
4      16
       ..
644    19
645    18
646    18
647    17
648    18
Name: age, Length: 649, dtype: int64

In [ ]:
students.age

0      18
1      17
2      15
3      15
4      16
       ..
644    19
645    18
646    18
647    17
648    18
Name: age, Length: 649, dtype: int64

Otra manera de acceder es usando dos funciones .loc[] y .iloc[].

1. iloc[1:m, 1:n]: Se usa para seleccionar filas basadas en su posición de 1 a m filas y de 1 a n
columnas.

In [ ]:
#seleccionar las dos primeras filas y 3 columnas
students.iloc[:2, :3]

  school sex  age
0     GP   F   18
1     GP   F   17

In [ ]:
#o tambien se usa para las dos primeras filas y todas sus columnas
students.iloc[:2,]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11

In [ ]:
#Selecciona los datos entre la decima y vigesima fila.
students.iloc[10:21]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,2,14,14,14
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,0,10,12,13
12,GP,M,15,U,LE3,T,4,4,health,services,...,4,3,3,1,3,5,0,12,13,12
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,0,12,12,13
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,14,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,GP,F,16,U,GT3,T,4,4,services,services,...,3,2,3,1,2,2,10,13,13,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,5,3,2,1,1,4,2,13,14,14
18,GP,M,17,U,GT3,T,3,2,services,services,...,5,5,5,2,4,5,2,8,8,7
19,GP,M,16,U,LE3,T,4,3,health,other,...,3,1,3,1,3,5,6,12,12,12
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,12,13,14

In [ ]:
#Selecciona las dos primeras columnas
students.iloc[:, :2]

    school sex
0       GP   F
1       GP   F
2       GP   F
3       GP   F
4       GP   F
..     ...  ..
644     MS   F
645     MS   F
646     MS   F
647     MS   M
648     MS   M

[649 rows x 2 columns]

2.  .loc[[nombre_fila], [nombre_columna]]. Se usa para seleccionar filas o columnas basadas en
su nombre

In [ ]:
#Selecciona la fila por nombre 1, o sea con indice igual a 1
students.loc[1]

school       GP
sex           F
age          17
address       U
famsize     GT3
           ...
health        3
absences      2
G1            9
G2           11
G3           11
Name: 1, Length: 33, dtype: object

In [ ]:
#Corre el codigo y observa que devuelve
students.loc[[1,20,3,4,5],['age','famsize']]

    age famsize
1    17     GT3
20   15     GT3
3    15     GT3
4    16     GT3
5    16     LE3

A veces queremos seleccionar filas que cumplan con ciertas condiciones, donde el valor de una columna en
esa fila sea igual, mayor o menor que un valor.

Para esto tenemos que usar una sintaxis especial.
Vamos a construirla de a poco.
Imaginemos que tenemos un DataFrame df con las columnas col1, col2 y col3.
Queremos seleccionar solo aquellas filas donde col1 sea mayor a 10.
Para eso diremos que queremos df['col1'] > 10 (La columna col1 debe ser mayor a 10).

Ahora si corremos este codigo, veremos que devuelve valores booleanos. O sea devolvera False para aquellos valores que sean menores o iguales a 10 y True para los que sean mayores a 10.
O sea que tenemos que agregar algo mas para poder seleccionar las columnas.
Esta lista de valores booleanos se llama mascara booleana.

¿Que significa? Que si yo le paso estos valores a pandas, pandas interpretara que debe conservar aquellos valores donde tiene True y descartar donde tiene False.

Por eso, para filtrar filas en base a estas condiciones escribimos:

df[df['col1] > 10]

Esto significa primero fijese en que filas de df, la columna col1 es mayor a 10. Luego, selecciona solo aquellas
filas donde esta condicion sea True.

In [19]:
#Selecciona solo las filas donde G1 sea mayor a 17
students[students['G1'] > 17]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,3,5,2,1,1,3,10,18,17,18
332,GP,F,18,U,GT3,T,2,2,at_home,at_home,...,4,3,3,1,2,2,0,18,18,18
338,GP,F,17,R,LE3,T,3,1,services,other,...,3,1,2,1,1,3,0,18,19,19
344,GP,M,18,U,LE3,T,4,4,teacher,teacher,...,1,4,2,2,2,1,0,18,18,17
349,GP,F,17,U,GT3,T,3,2,health,health,...,5,2,2,1,2,5,0,18,18,18
594,MS,F,18,U,GT3,T,4,4,teacher,teacher,...,4,3,5,1,2,1,0,18,18,18
606,MS,F,17,U,GT3,T,4,2,teacher,other,...,4,2,3,3,1,5,0,18,18,18
617,MS,F,18,U,LE3,T,1,1,at_home,services,...,5,3,2,1,1,4,0,19,17,18

In [ ]:
#Selecciona solo las filas donde Mjob sea igual a teacher
students[students['Mjob'] == 'teacher']

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,2,14,14,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,0,12,12,13
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,12,13,14
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,0,12,13,14
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,4,4,5,5,5,5,4,12,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,1,13,14,14
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,17,18,19
642,MS,F,17,U,GT3,T,4,3,teacher,other,...,5,5,4,1,1,1,0,6,9,11
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16

In [ ]:
#Selecciona solo aquellas filas donde address sea distinto a U
students[students['address']!='U']

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
24,GP,F,15,R,GT3,T,2,4,services,health,...,4,3,2,1,1,5,2,10,11,10
32,GP,M,15,R,GT3,T,4,3,teacher,at_home,...,4,5,2,1,1,5,0,13,14,15
37,GP,M,16,R,GT3,A,4,4,other,teacher,...,2,4,3,1,1,5,4,13,13,13
38,GP,F,15,R,GT3,T,3,4,services,health,...,4,3,2,1,1,5,2,11,12,12
39,GP,F,15,R,GT3,T,2,2,at_home,other,...,4,3,1,1,1,2,8,14,13,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,MS,M,18,R,GT3,T,4,2,other,other,...,5,4,3,4,3,3,0,7,7,0
641,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,0,14,17,15
643,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,4,7,9,10
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [ ]:
#Muestra los valores de edad para aquellos estudiantes que tengan G3 mayor a G1
students[students['G3'] > students['G1']]['age']

0      18
1      17
4      16
5      16
7      17
       ..
641    18
642    17
643    18
645    18
648    18
Name: age, Length: 344, dtype: int64

In [ ]:
#Selecciona aquellos estudiantes que posean G1 Y G2 mayores a 12
students[(students['G1']>12)&(students['G2']>12)]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,15,16,17
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,2,14,14,14
14,GP,M,15,U,GT3,A,2,2,other,other,...,4,5,2,1,1,3,0,14,14,15
15,GP,F,16,U,GT3,T,4,4,health,other,...,4,4,4,1,2,2,6,17,17,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,MS,F,18,U,GT3,T,3,3,other,other,...,4,1,3,1,2,1,1,16,16,16
636,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,3,2,4,1,4,2,4,17,18,19
638,MS,M,17,U,GT3,T,2,3,other,services,...,4,4,3,1,1,3,4,14,15,16
641,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,0,14,17,15
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16

### Missing Values o Valores faltantes

Los valores faltantes son un problema muy grande a la hora de visualizar y limpiar datos así como también a la
hora de entrenar un modelo.
Uno de los pasos obligados de cualquier exploración de datos es evaluar la presencia de estos valores.

Como manejar estos datos faltantes es un gran desafio. La mayoría de las veces no queremos eliminar esos
valores porque significaría perder información valiosa en otros features.

Los valores faltantes estan codificados normalemente como NaN. Esto no es un string, sino que es un valor
especial de NumPy que es tratado como un flotante.

Otra forma de encontrar un dato faltante es de la forma None (objeto de Python que representa ausencia de dato)

Para chequear si tenemos valores faltantes podemos usar la función .isnull(). Esto nos devuelve una nueva
DataFrame en la cual tendremos el valor False si no es faltante y True si ese valor es faltante.

In [ ]:
#Utilice .isnull() para ver que ocurre
students.isnull()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
645,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
646,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
647,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
648,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
#Prueba usar .isnull().sum() sobre tu dataframe para ver que devuelve
students.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [ ]:
#Elimina todas las filas que tengan valores faltantes. No te olvides de poner inplace=True dentro de la función.
students.dropna(inplace=True)

Una manera de ver facilmente algunos detalles estadisticos de cada columna de un DataFrame es usando la
fución .describe().

In [ ]:
#Usa la funcion .describe() sobre students y describe que informacion estadistica proporciona
students.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.568567,1.930663,0.221880,3.930663,3.180277,3.184900,1.502311,2.280431,3.536210,3.659476,11.399076,11.570108,11.906009
std,1.218138,1.134552,1.099931,0.748660,0.829510,0.593235,0.955717,1.051093,1.175766,0.924834,1.284380,1.446259,4.640759,2.745265,2.913639,3.230656
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,10.000000,10.000000,10.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,2.000000,11.000000,11.000000,12.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,6.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,32.000000,19.000000,19.000000,19.000000

Tambien es posible visualizar, por ejemplo, el promedio de una columna. Para esto pandas usa la función de
numpy, pero provee la misma sintaxis que las demás funciones. Por ejemplo, si queremos calcular el promedio
de la columna col1 del DataFrame df usamos df['col1'].mean().

In [ ]:
#Calcula el promedio de la columna math score de students
students['studytime'].mean()

1.9306625577812018

También podemos usar funciones como .min(), .max(), .median(), .std().

In [ ]:
#Calcula el minimo y maximo valor, la mediana y el desvio estandard en la columna stdytime de students
students['studytime'].min()

1

In [ ]:
students['studytime'].max()

4

In [ ]:
students['studytime'].median()

2.0

In [ ]:
students['studytime'].std()

0.8295095746366191

In [ ]:
students.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,1,2,5,0,11,13,13

In [ ]:
#elimina una columna (axis=1) o una fila (axis=0) que cumpla con la condicion que le ponga
students.drop('Walc', axis=1, inplace=True)

In [ ]:
students.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,Dalc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,1,5,0,11,13,13

In [ ]:
students.drop(1, axis=0, inplace=True)

In [ ]:
students.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,Dalc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,1,3,4,0,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,1,5,0,11,13,13
5,GP,M,16,U,LE3,T,4,3,services,other,...,yes,no,5,4,1,5,6,12,12,13

In [ ]:
#funciones de agregacion como mean(). sirve para obtener medidas agrupadas por alguna caracteristica en este caso edad
students.groupby('age')['G1'].mean()

age
15    11.758929
16    11.723164
17    11.533708
18    11.200000
19     9.031250
20    10.333333
21     9.000000
22     7.000000
Name: G1, dtype: float64

In [ ]:
#si hay valores nullos llena esos valores con el valor que proveamos
# students['alguna columna vacia'].fillna('standard', inplace=True)

In [20]:
#sirve para renombrar columnas, indices, etc
students.rename(columns={'age': 'edad'}, inplace=True)

In [21]:
students.head()

,school,sex,edad,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [ ]:
#Obtiene los valores unicos de una variable categorica
students['Fjob'].unique()

array(['teacher', 'other', 'services', 'health', 'at_home'], dtype=object)

In [ ]:
#cuenta la cantidad de veces que cada nivel de una variable categorica aparece
students['Fjob'].value_counts()

other       366
services    181
at_home      42
teacher      36
health       23
Name: Fjob, dtype: int64

In [ ]:
#cuenta los valores no nulos.
students.count()

school        648
sex           648
edad          648
address       648
famsize       648
Pstatus       648
Medu          648
Fedu          648
Mjob          648
Fjob          648
reason        648
guardian      648
traveltime    648
studytime     648
failures      648
schoolsup     648
famsup        648
paid          648
activities    648
nursery       648
higher        648
internet      648
romantic      648
famrel        648
freetime      648
Dalc          648
health        648
absences      648
G1            648
G2            648
G3            648
dtype: int64